* {
    justify-items: center;
    margin: 0;
    padding: 0;
}

.head{
    text-align: center;
}

h1{
    display: inline;
}

.star{
    width: 15px;
    text-align: center;
}

.main{
    text-align: center;
}

p{
    text-align: center;
}

.section{
    text-align: center;
}
iframe{
    display: block;
    text-align: center;
}